:root {
  --txt: white;
  --UT: rgb(234, 94, 0);
}

.navigationBar {
  width: 100%;
  position: fixed;
  background-color: var(--UT);
}

.linksInline {
  display: inline;
}

.naviagtionLink {
  margin: 0 45px;
}

.naviagtionLink a {
  color: var(--txt);
}

.header {
  padding: 3% 4%;
  background-color: var(--UT);
  color: var(--txt);
}

.codeName {
  font-size: 3rem;
  background-color: var(--txt);
  color: var(--UT);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

.footer a {
  display: inline-block;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: var(--UT);
  color: var(--txt);
  border-radius: var(--border-radius);
  text-decoration: none;
}

/* THINGS NEEDING FLEXING */
.flexClolumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-links {
  display: flex;
  flex-wrap: wrap;
}

.mainColoumnFlex {
  flex-grow: 1;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

/* _____________________________________
Sign up and login style */
.signupLogin {
  color: whitesmoke;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(188, 128, 7, 0.8);
  padding: 15px;
  border-radius: 15px;
  height: max-content;
  border: solid whitesmoke 2px;
}

.signupLogin h2 {
  text-align: center;
  padding-bottom: 20px;
}
