:root {
  --text: white;
  --burntOrange: rgb(234, 94, 0);
}

.navigationBar {
  width: 100%;
  position: fixed;
  background-color: var(--burntOrange);
}

.linksInline {
  display: inline;
}

.naviagtionLink {
  margin: 0 45px;
}

.naviagtionLink a {
  color: var(--text);
}

.header {
  padding: 3% 4%;
  background-color: var(--burntOrange);
  color: var(--text);
}

.codeName {
  font-size: 3rem;
  background-color: var(--text);
  color: var(--burntOrange);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

/* THINGS NEEDING FLEXING */
.flex-clolumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-links {
  display: flex;
  flex-wrap: wrap;
}
